*{
    margin : 0;
    padding : 0;
        list-style-type: none;
        text-decoration : none;
        color : black;
    
    
}


.title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.category {
       font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
 }

.content {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.blank {
    margin-bottom : 500px;
}


.card {
    border : 1px solid gainsboro;
    margin-bottom : 10px;
    padding-left: 10px;
    padding-bottom: 10px;  
    border-radius: 10px;

}




.container {
    margin-left : 120px;
    margin-right: 120px;
}

